.Navbar{
  height: 50px;
  top: 0;
  position: fixed;
  z-index: 999999;
  width: 100%;
  display: flex;
  background: #292c2f;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 0px 20px #8a8a8a4a;
}
.Navbar > a{
  position: relative; 
  font-size: 18px;
  font-family: monospace;
  margin: 20px;
  text-decoration: none;
}

.NavItems:after {
  position: absolute;
  content: '';
  height: 3px;
  border-radius: 15px;
  bottom: -14px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0%;
  background: #18acce;
  transition: .5s;
}
.toggleNav{
  left: -100% !important;
}
.selected:after{
  width: 100%;
}
.NavItems{
  color: white;
}
.trigger{
  position: fixed;
  transition: .1s;
  display: none;
  z-index: 100000000;
  height: 50px
}
.Appbar img{
  height: 30px;
  position: relative;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100000000;
  cursor: pointer;
}
.Appbar span{
  cursor: pointer;
  font-size: 20px;
  position: relative;
  z-index: 100000000;
  font-weight: bold;
  color: green;
  top:0px;
  left : 30px;
  margin: auto;
}
.Appbar{
  height: 50px;
  display: flex;
  position: fixed;
  z-index: 9999999;
  width: 0px;
}
.trigger img{
  position: relative;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
@media only screen and (max-width: 700px) {
  .trigger{
    display: flex;
  }
  .trigger:hover{
    transform: scale(.9);
  }
  .Appbar{
    width: 100%;
    top: 0;
    background: #292c2f;
    justify-content: center;
    box-shadow: 0px 0px 20px #8a8a8a4a;
  }
  .Appbar img{
    margin-left: 0px;
  }
  .Appbar span{
    left: 0px;
  }
  .Navbar{
    width: 40%;
    left:-100%;
    padding-top: 55px;
    flex-direction: column;
    height:100%;
    justify-content: flex-start;
  }
  .NavItems:after {
  height: 0px;
  }
  .NavItems{
    text-align: center;
    background-color: transparent;
  }
  .selected{
   width: 100%;
   padding-top: 7px;
   padding-bottom: 7px;
   background-color: black;
  }
}
@media only screen and (max-width: 400px) {
  .Navbar{
    width: 60%;
  }
}
