*{
    margin: 0;
    padding: 0;
}
.Navbar{
    background-color: white;
}
.Appbar{
    background-color: white;
}
a.NavItems{
    color: black
}
@media only screen and (max-width: 700px){
    .selected{
      color : white !important;
    }
  }